@model Checklist

<h2 class="text-center">@Model.Name</h2>

<!-- Kundinformation tabell -->
<div>
    <table id="customer-table" class="table table-bordered table-striped" style="width: 100%; table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 35%; text-align: left; vertical-align: middle;">Kund</th>
                <th style="width: 30%; text-align: left; vertical-align: middle;">Stad</th>
                <th style="width: 35%; text-align: left; vertical-align: middle;">Epost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ProjectHasChecklists.FirstOrDefault().Project.ClientHasProjects.FirstOrDefault().Client.Name</td>
                <td>@Model.ProjectHasChecklists.FirstOrDefault().Project.ClientHasProjects.FirstOrDefault().Client.City</td>
                <td>@Model.ProjectHasChecklists.FirstOrDefault().Project.ClientHasProjects.FirstOrDefault().Client.Email</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Bedömning tabell -->
<div>
    <table id="assessment-table" class="table table-bordered table-striped" style="width: 100%; table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 50%; text-align: left; vertical-align: middle;">Bedömning av</th>
                <th style="width: 50%; text-align: left; vertical-align: middle;">Signatur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (Model.Creator.CompanyName == null){
                    <td>@Model.Creator.Firstname @Model.Creator.Lastname</td>
                }
                else{
                    <td>@Model.Creator.CompanyName </td>
                }
                
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Bedömningar -->
<div class="p-1 m-1">
    <label>Bedömningar:</label>
    <p>
        <span class="fw-bold">(X)</span> = Klar utan anmärkning.
        <span class="fw-bold">(1)</span> = Bör åtgärdas.
        <span class="fw-bold">(2)</span> = Skall åtgärdas.
        <span class="fw-bold">(Å)</span> = Åtgärdat.
        <span class="fw-bold">(-)</span> = Ej tillämligt.
    </p>
</div>
@{
    var tasks = Model.ListTasks.ToList();
}
<!-- Uppgifter tabell -->
<form asp-action="UpdateProjectChecklist" method="post">
    <input type="hidden" asp-for="Id" />

    <table id="tasks-table" class="table table-bordered table-striped" style="width: 100%; table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 5%; text-align: left; vertical-align: middle;">Bed.</th>
                <th style="width: 25%; text-align: left; vertical-align: middle;">Uppgift</th>
                <th style="width: 30%; text-align: left; vertical-align: middle;">Beskrivning</th>
                <th style="width: 10%; text-align: left; vertical-align: middle;">Status</th>
                <th style="width: 30%; text-align: left; vertical-align: middle;">Notering</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < tasks.Count; i++)
            {
                var assessment = tasks[i].Assessment ?? "-"; // Standardvärde om Assessment är null
                var isCompleted = tasks[i].IsCompleted.ToString().ToLower();

                <tr>
                    <input type="hidden" name="ListTasks[@i].Id" value="@tasks[i].Id" />
                    <td>
                        <select name="ListTasks[@i].Assessment" class="form-control" style="width: 100%;">
                            <option value="X" selected="@(assessment == "X")">X</option>
                            <option value="1" selected="@(assessment == "1")">1</option>
                            <option value="2" selected="@(assessment == "2")">2</option>
                            <option value="Å" selected="@(assessment == "Å")">Å</option>
                            <option value="-" selected="@(assessment == "-")">-</option>
                        </select>
                    </td>
                    <td style="vertical-align: middle;">@tasks[i].Name</td>
                    <td style="vertical-align: middle;">@tasks[i].Description</td>
                    <td>
                        <select name="ListTasks[@i].IsCompleted" class="form-control" style="width: 100%;">
                            <option value="true" selected="@(isCompleted == "true")">Klar</option>
                            <option value="false" selected="@(isCompleted == "false")">Ej Klar</option>
                        </select>
                    </td>
                    <td>
                        <textarea name="ListTasks[@i].Note" class="form-control" style="width: 100%; resize: none;" rows="3">@tasks[i].Note</textarea>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary mt-3">Spara</button>
</form>

<table id="tasks-table-copy" class="table table-bordered table-striped" style="width: 100%; table-layout: fixed;" hidden>
    <thead>
        <tr>
            <th style="width: 5%; text-align: left; vertical-align: middle;">Bed.</th>
            <th style="width: 25%; text-align: left; vertical-align: middle;">Uppgift</th>
            <th style="width: 30%; text-align: left; vertical-align: middle;">Beskrivning</th>
            <th style="width: 10%; text-align: left; vertical-align: middle;">Status</th>
            <th style="width: 30%; text-align: left; vertical-align: middle;">Notering</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < tasks.Count; i++)
        {
            var assessment = tasks[i].Assessment ?? "-"; // Standardvärde om Assessment är null
            var isCompleted = tasks[i].IsCompleted.ToString().ToLower();

            <tr>
                
                <td>
                    @tasks[i].Assessment
                </td>
                <td style="vertical-align: middle;">@tasks[i].Name</td>
                <td style="vertical-align: middle;">@tasks[i].Description</td>
                <td>
                    @if (@tasks[i].IsCompleted){
                        <span>Klar</span>
                    }
                    else{
                        <span>Ej klar</span>
                    }
                </td>
                <td>
                    @tasks[i].Note
                </td>
            </tr>
        }
    </tbody>
</table>

<button id="save-pdf" class="btn btn-success">Spara som PDF</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.15/jspdf.plugin.autotable.min.js"></script>
<script>

                document.getElementById('save-pdf').addEventListener('click', function () {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        // Startpunkt för första tabellen
        let currentY = 20;

        // Lägg till titel
        doc.setFontSize(18);
        doc.text("@Model.Name", 14, currentY);
        currentY += 3; // Flytta nedåt för nästa innehåll

        // Lägg till första tabellen - Kundinformation
        doc.setFontSize(12);
        
        currentY += 3;
        doc.autoTable({
            html: '#customer-table',
            startY: currentY,
            styles: { fontSize: 10, cellPadding: 5 },
            headStyles: { fillColor: [22, 160, 133] },
            pageBreak: 'auto',
            showHead: 'firstPage'
        });
        currentY = doc.lastAutoTable.finalY + 10; // Uppdatera Y-position efter första tabellen

        // Lägg till andra tabellen - Bedömning av
        
        currentY += 3;
        doc.autoTable({
            html: '#assessment-table',
            startY: currentY,
            styles: { fontSize: 10, cellPadding: 5 },
            headStyles: { fillColor: [22, 160, 133] },
            pageBreak: 'auto'
        });
        currentY = doc.lastAutoTable.finalY + 10; // Uppdatera Y-position efter andra tabellen

        // Lägg till tredje tabellen - Uppgifter
            doc.setFontSize(10);
            doc.text("(X) = Klar utan anmärkning. (1) = Bör åtgärdas. (2) = Skall åtgärdas. (Å) = Åtgärdat. (-) = Ej tillämpligt ", 20, currentY);
        currentY += 3;
        doc.autoTable({
            html: '#tasks-table-copy',
            startY: currentY,
            styles: { fontSize: 10, cellPadding: 5 },
            headStyles: { fillColor: [22, 160, 133] },
            pageBreak: 'auto'
        });

        // Spara PDF
        doc.save("@Model.Name" + ".pdf");
    });



</script>




